// Place all the styles related to the Snacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
  float: none;
}
#snack_stats {
  margin-bottom: 30px;
}



#inner-div > strong {
  margin-bottom: 10px;
}

#heading {
  font-weight: lighter;
  margin: 10px 0;
}
h3 {
  font-weight: 300;
  color: #f00;
  font-size: 1.2rem;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
#order-form  {
  h5 {
    font-family: georgia, serif;
    font-style: italic;
    font-size: 1rem;
  }
  input {
    margin-top: 0.4rem;
    border-radius: 4px;
  }
  textarea {
    margin-top: 0.4rem;
    border-radius: 4px;
  }
}

table thead tr th, table thead tr td {
  font-size: 0.875rem;
  font-weight: normal;
  color: #222;
  font-style: italic;
  font-family: georgia, serif;
}
td, table tr td {
  color: #555;
  font-weight: 300;
}

dl dt {
  font-weight: normal;
  font-family: georgia, serif;
  font-style: italic;
  font-weight: 1rem;
  margin-bottom: 0;
}

dl dd {
  margin-bottom: 0.75rem;
  font-weight: 100;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  color: #333;
}
div#heading {
  margin: 20px 20% 10px;
  text-align: center;
  font-weight: lighter;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: #999;
}
#footer {
  margin: 20px;
  text-align: center;
  border-top: 1px solid #ccc;
  padding: 10px 0;
}

.toggle {
    margin-right: 10px;
    background-color:#FFF;
    border-radius:4px;
    border:1px solid #FF0000;
    //overflow:auto;
    display: inline-block;
}

.toggle label {
  position: relative;
  float:left;
  width:2.0em;
}

.toggle label span {
    text-align:center;
    padding:3px 0px;
    display:block;
    cursor: pointer;
}

.toggle label input {
    position:absolute;
    width: 28px;
    height: 30px;
    opacity: 0;
    cursor: pointer;
    top: 0;
}

.toggle .input-checked /*, .bounds input:checked + span works for firefox and ie9 but breaks js for ie8(ONLY) */ {
    background-color:#FF0000;
    color:#FFFFFF;
}
